html{
    font-family: 'SF Pro Display', sans-serif;
}
body{
    margin: 0;

}

header{
    position: relative;
    width: auto;
    background-color: #000000;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
  
.menucase {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    justify-content: center;
}

.menucase a{
    text-decoration: none;
    color: white;
    display: block;
}

.logo {
    size-adjust: inherit;
    width: 13%;
    background-image: url("/img/LabIsenV2.png");
    background-size: cover;
    background-color: white;
}

.drop-contenu{
    justify-content: center;
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 1em;
    z-index: 1;
}

.drop-contenu a{
    justify-content: center;
    color: white;
    padding: 1em;
    text-decoration: none;
    display: block;
}

.drop-contenu a:hover {background-color: #504f4f;}

.déroulant:hover .drop-contenu {
    display: grid;
}



footer{
    margin-top: 25em;
    position: relative;
    bottom: 0;
    background-color: #FBBB04;
    

}
.pied {
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
    align-items: center;
    color: black;
}

.casepied {
    justify-content: center;
    text-align: center;
    font-size: 1em;

}

.auteurs {
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
    align-items: center;
    color: black;
}

.auteurs a{
    text-decoration: none;
    color: black;
    display: block;
}

.caseauteurs {
    text-align: center;
    font-size: 1em;
}

.auteursimg{
    max-width: 100%;
    height: auto;
    filter: invert(100%);
}

.separateur{
    border: none; 
    border-top: 1px solid #000; 
}

@media screen and (max-width: 767px) {
    .menu{
        flex-direction: column;
        
    }
    .drop-contenu{
        position: relative;
        background-color: #2c2b2b;
    }
    .drop-contenu a:hover {background-color: #686666;}
    
    .logo{
        width: 30%;
    }
    .menucase{
        margin: 2%;
        display: none;
    }
    .menu:hover .menucase{
        display: flex;
    }
    .pied{
        margin-right: 0;
        margin-left: 0;
    }
}

.title {
    text-align: center;
    font-size: xx-large;
}
.blue{
    font-weight: bold;
}
.red{
    font-weight: bold;   
}
.gris{
    color: #BFBFBF;
}
.red-cube{
    width: 20px;
    height: 20px;
    background-color: #D30869; 
    margin-right: 10px;
}

.menucase a:hover {
    background-color: #686666;
}

.déroulant:hover{
    background-color: #686666;
}

.blue-cube{
    width: 20px;
    height: 20px;
    background-color: #1255A4; 
    margin-right: 10px;
}
.container{
    display: flex;
    align-items: center;
}

a {
    color: black;
}
.liengris{
    color: #BFBFBF;
}
